In [2]:
import pandas as pd 
import matplotlib as plt 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import difflib

In [3]:
data = pd.read_csv("movies.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [5]:
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [6]:
data.shape

(4803, 24)

In [7]:
#selecting the relevent feature for recommendation 

sel_fet=['genres', 'keywords','tagline','cast','director']
print(sel_fet)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [8]:
#replacing the null in dataset 

for feat in sel_fet:
    data[feat] = data[feat].fillna('')

In [9]:
#combining all the  w selected features 

comb_feat= data['genres']+''+data['keywords']+''+data['tagline']+''+data['cast']+''+data['director']

print(comb_feat)

In [10]:
print(comb_feat)

0       Action Adventure Fantasy Science Fictioncultur...
1       Adventure Fantasy Actionocean drug abuse exoti...
2       Action Adventure Crimespy based on novel secre...
3       Action Crime Drama Thrillerdc comics crime fig...
4       Action Adventure Science Fictionbased on novel...
                              ...
4798    Action Crime Thrillerunited states\u2013mexico...
4799    Comedy RomanceA newlywed couple's honeymoon is...
4800    Comedy Drama Romance TV Moviedate love at firs...
4801    A New Yorker in ShanghaiDaniel Henney Eliza Co...
4802    Documentaryobsession camcorder crush dream gir...
Length: 4803, dtype: object

In [11]:
#converting the text data to feature vectorrs
vectorizer = TfidfVectorizer()

In [12]:
feat_vect = vectorizer.fit_transform(comb_feat)

In [14]:
#getting the similariuty score using cosine  similarity 

similar = cosine_similarity(feat_vect)

In [15]:
print(similar)

[[1.         0.06865296 0.01492221 ... 0.         0.         0.        ]
 [0.06865296 1.         0.02799128 ... 0.01243107 0.         0.        ]
 [0.01492221 0.02799128 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.01243107 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [16]:
similar.shape

(4803, 4803)

In [17]:
# getting the input from the user 

movie_name = input("Enter YOur favorite Movie Name :")

Enter YOur favorite Movie Name : krish

In [18]:
# creating  a list with all the movie name s given int dataset 

list_of_allTitle = data['title'].tolist()

In [19]:
#print(list_of_allTitle)

In [20]:
#finding the close match for the movie name given by the user  

find_close = difflib.get_close_matches(movie_name,list_of_allTitle)

In [21]:
print(find_close)

['Krrish', 'Iris', 'Trash']

In [22]:
close_match = find_close[0]
print(close_match)

Krrish

In [23]:
#finding  the index of movies with title 

index_mov=data[data.title == close_match]['index'].values[0]

print(index_mov)

3089

In [24]:
#getting the list of similat movies 

sim_score = list(enumerate(similar[index_mov]))
#print(sim_score)

In [25]:
len(sim_score)

4803

In [26]:
#shorting the movies based on similarity score 

short_similar_movies = sorted(sim_score, key = lambda x:x[1], reverse = True)

#print(short_similar_movies)

In [27]:
# print the name of similar movies based on the index

print ("Movies suggested for You ")

i=1
for movie in short_similar_movies:
    index = movie[0]
    title_from_index = data[data.index == index ]['title'].values[0]
    if (i<10):
        print(i,':' ,title_from_index)
        i+=1

Movies suggested for You
1 : Krrish
2 : Kites
3 : My Beautiful Laundrette
4 : Fiza
5 : Indiana Jones and the Temple of Doom
6 : The Helix... Loaded
7 : Monsoon Wedding
8 : Broken Horses
9 : Namastey London